*{
    margin:0px;
    box-sizing: border-box;
    
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



               /*Navbar Section*/


header {
    background-color: rgb(248, 189, 133);
    
}

.nav-containeare {
      padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
          
}

.logo a{
    text-decoration: none;
    color: black;
   
}

.nav-item {
    display: flex;
}

.nav-item, ul {
    list-style: none;
    gap: 20px;
}

.nav-item, ul a {
    text-decoration: none; 
}


          /*Main Body Section*/

.main-width{
    padding-left: 50px;
    padding-right: 50px;
    background-image: url(bg.jpg);
}





          /*Banner Section*/

.banner-containeare {
    display: flex;
    padding-top: 20px;
    gap: 5px;
    justify-content: space-between;
    width: 100%;
}


.banner-text{
    padding-top: 100px;
    width: 100%;   
}
.banner-title {
    font-size: 60px;
    padding-bottom: 30px;
}
.empower-color {
    color: rgb(230, 148, 26);
}
.age-towards {
    color: rgb(57, 173, 250);
}
.banner-discription {
    color: black;
    font-size: 20px;
}





.banner-images {
    width: 100%;
    height: auto;
}
.banner-images img {
    width: 100%;
    position: relative;
}
.btn {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding:10px 20px;
    text-align: center;
    margin-top: 20px;
}
.btn a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}




                    /*Carriculum Section*/


#carriculum {
    padding:50px 0px;   
}


.curriculum-containeare{
    display: flex;
    gap: 10px;    
}



.carriculum-box-1 {
    background-color: #95c9c9 ;
    border-radius:5px;
    text-align: center; 
}
.carriculum-title {
    margin: 20px;
    justify-content: center;
   text-align: center;
}
.curriculum-discription {
    margin-bottom: 20px; 
}




.carriculum-box-2 {
    background-color: #85c421 ;
    border-radius: 5px;
    text-align: center;
}


.carriculum-box-3 {
    background-color: #a0adf1 ;
    border-radius: 5px;
    text-align: center;
}


.curriculum-btn {
    border: none;
    background: none;
}
.curriculum-btn a {
    text-decoration: none;
   color:white; 
}




                /*Story Section*/


#stories{
    padding-top: 50px 0px;
    
}


.story-main-titile{
    text-align: center;
    font-size: 30px;   
}



#stories, .btn {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.stories-box{
    display: flex;
    width: 100%;
    gap: 5px;    
}




.stories-box-1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: rgb(252, 247, 247);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.stories-box-1 img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.stories-title{
    padding-top: 20px;
}
.stories-discription {
    padding-top: 40px;
}





.stories-box-2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width:100%;
}
.box-2-part-1 {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box-2-part-1 img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.box-2-part-2 {
   width: 100%;
   height: auto;
  
   border-radius: 5px;
     background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box-2-part-2 img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}




.stories-box-3{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(1, 1fr);
}
.part-1-box-3 {
    width: 100%;
    height: auto;
    border-radius: 5px;
     background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   

}
.part-1-box-3 img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.part-2-box-3 {
    width: 100%;
    height: auto;
    border-radius: 5px;
     background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.part-2-box-3 img {
    width: 100%;
    height:auto;
    border-radius: 5px;
}



.stories-title-hovere {
    position: absolute;
      background-color: rgb(131, 214, 23);
      border-radius: 8px;
      width: 190px;
      height: 40px;
      padding-top: 10px;
      margin-top: -40px;
      font-size: 1.1rem;   
}

.stories-title-hovery {
      position: absolute;
      background-color: rgb(236, 111, 205);
      border-radius: 8px;
      
      width: 190px;
      height: 40px;
      padding-top: 10px;
      margin-top: -40px;
      font-size: 1.1rem;
}


  .stories-title-hoverey {
    position: absolute;
    background-color: rgb(242, 245, 59);
    border-radius: 8px;
    width: 190px;
    height: 40px;
    padding-top: 10px;
    margin-top: -40px;
    font-size: 1.1rem;
     
  }


                /*Footer Section*/


#footer-box{ 
display: flex;
justify-content: space-between;
background-color: rgb(17, 169, 216);
padding: 100px 50px;
width: 100%;
height: auto;
}


.footer-title {
    color: black;
    font-size: 35px;
}


.box-1 {
    width: 100%;
    height: auto;
}


.box-2 {
    width: 100%;
    text-align: center;
    height: auto;
}
.box-2 ul {
    
   text-align: start;
   align-items: center;
}
.box-2,ul, li a {
    color: black;
    font-size: 20px;
  
}



.box-3 {

    width: 100%;
    text-align: center;
    height: auto;
}








@media screen and  (max-width: 480px) {
  
    .nav-containeare {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }
    
    .nav-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .banner-containeare{
        flex-direction: column;
        margin-left: 20px;
        text-align: center;
        margin-right: 20px;
    }

    .stories-box, .curriculum-containeare{
        flex-direction: column;
    }
    
    
#footer-box  {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    }
.box-2 ul {
    text-align: center;
}
.box-1 {
    text-align: center;
    
}

#stories{
    padding: 30px 0px;
}

.nav-containeare {
   align-items: center;
   text-align: start;
}




}

